# Don't push token into Github
*.token
tokens.py

# Created whenever python files run
__pycache__

# Ignore any personal notes
Notes

# Don't sync any player data
PlayerData

# don't sync venv
venv